<ons-page class="discounts">
    <ons-toolbar>
        <div class="left">
            <ons-toolbar-button ng-click="menu.toggle()">
                <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
            </ons-toolbar-button>
        </div>
        <div class="center">Лента</div>
    </ons-toolbar>

    <ons-list>

        <ons-list-item modifier="chevron" class="list-item-container">
            <ons-row>
                <ons-col width="95px">
                    <img src="http://www.linders.ie/imglib/linders2013/service.jpg" class="thumbnail">
                </ons-col>
                <ons-col>
                    <div class="name">
                        Eiffel Tower
                    </div>
                    <div class="location">
                        <i class="fa fa-map-marker"></i> Paris, France
                    </div>
                    <div class="desc">
                        Eiffel Tower is the symbol of Paris and named by Gustave Eiffel.
                    </div>
                </ons-col>
                <ons-col width="40px"></ons-col>
            </ons-row>
        </ons-list-item>

        <ons-list-item modifier="chevron" class="list-item-container">
            <ons-row>
                <ons-col width="95px">
                    <img src="http://www.linders.ie/imglib/linders2013/service.jpg" class="thumbnail">
                </ons-col>
                <ons-col>
                    <div class="name">
                        Monument Valley
                    </div>
                    <div class="location">
                        <i class="fa fa-map-marker"></i> Utah, USA
                    </div>
                    <div class="desc">
                        Director John Ford used Monument Valley for a number of his best-known films.
                    </div>
                </ons-col>
                <ons-col width="40px"></ons-col>
            </ons-row>
        </ons-list-item>

        <ons-list-item modifier="chevron" class="list-item-container">
            <ons-row>
                <ons-col width="95px">
                    <img src="http://www.linders.ie/imglib/linders2013/service.jpg" class="thumbnail">
                </ons-col>
                <ons-col>
                    <div class="name">
                        Mount Fuji
                    </div>
                    <div class="location">
                        <i class="fa fa-map-marker"></i> Japan
                    </div>
                    <div class="desc">
                        Mount Fuji is the highest mountain in Japan and a frequent attractive subject of Japanese
                        art.
                    </div>
                </ons-col>
                <ons-col width="40px"></ons-col>
            </ons-row>
        </ons-list-item>

        <ons-list-item modifier="chevron" class="list-item-container">
            <ons-row>
                <ons-col width="95px">
                    <img src="http://www.linders.ie/imglib/linders2013/service.jpg" class="thumbnail">
                </ons-col>
                <ons-col>
                    <div class="name">
                        Tokyo Tower
                    </div>
                    <div class="location">
                        <i class="fa fa-map-marker"></i> Tokyo, Japan
                    </div>
                    <div class="desc">
                        Tokyo Tower is a communications and observation tower located in Tokyo, Japan.
                    </div>
                </ons-col>
                <ons-col width="40px"></ons-col>
            </ons-row>
        </ons-list-item>
    </ons-list>

</ons-page>