@import "pages/choose-car";
@import "pages/discounts";
@import "pages/login";
@import "partials/menu";

.page__background{
  background: #fff;
}
.navigation-bar{
  background: #f3f3f3;
}

@import "partials/common";
