<!DOCTYPE html>
<!-- CSP support mode (required for Windows Universal apps): https://docs.angularjs.org/api/ng/directive/ngCsp -->
<html lang="en" ng-app="app" ng-csp>
<head>
    <meta charset="utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="mobile-web-app-capable" content="yes"/>

    <!-- JS dependencies (order matters!) -->
    <script src="scripts/platformOverrides.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/onsen/js/onsenui.js"></script>

    <!-- CSS dependencies -->
    <link rel="stylesheet" href="lib/onsen/css/onsenui.css"/>
    <link rel="stylesheet" href="lib/onsen/css/onsen-css-components-blue-basic-theme.css"/>

    <!-- CSP support mode (required for Windows Universal apps) -->
    <link rel="stylesheet" href="lib/angular/angular-csp.css"/>

    <!--Custom css-->
    <link rel="stylesheet" href="assets/css/index.css">

    <!-- --------------- App init --------------- -->

    <title>STO</title>

</head>

<body>
<!-- Cordova reference -->
<!--<script src="cordova.js"></script>-->
<script src="scripts/index.js"></script>
<script src="scripts/directives.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>


<ons-sliding-menu menu-page="menu.html" main-page="feed.html" side="left"
                  var="menu" type="reveal" max-slide-distance="260px" swipeable="true">
</ons-sliding-menu>

<ons-template id="menu.html">
    <ons-page modifier="menu-page">
        <div class="logo"><img class="logo__image" src="images/logo.png" alt=""></div>

        <ons-list class="menu-list">
            <ons-list-item class="menu-item" ng-click="menu.setMainPage('feed.html', {closeMenu: true})">
                <ons-icon icon="fa-rss"></ons-icon>
                Лента
            </ons-list-item>
            <ons-list-item class="menu-item" ng-click="menu.setMainPage('discounts.html', {closeMenu: true})">
                <ons-icon icon="fa-money"></ons-icon>
                Акции
                <div class="notification menu-notification">3</div>
            </ons-list-item>
            <ons-list-item class="menu-item" ng-click="menu.setMainPage('discounts.html', {closeMenu: true})">
                <ons-icon icon="fa-gift"></ons-icon>
                Бонусы/подарки
            </ons-list-item>
            <ons-list-item class="menu-item" ng-click="menu.setMainPage('discounts.html', {closeMenu: true})">
                <ons-icon icon="fa-list-ol"></ons-icon>
                История ремонтов
            </ons-list-item>
            <ons-list-item class="menu-item" ng-click="menu.setMainPage('chooseCar.html', {closeMenu: true})">
                <ons-icon icon="fa-car"></ons-icon>
                Выбор авто
            </ons-list-item>
            <ons-list-item class="menu-item" ng-click="menu.setMainPage('map.html', {closeMenu: true})">
                <ons-icon icon="fa-map-marker"></ons-icon>
                Расположение
            </ons-list-item>


            <ons-list-item class="menu-item" ng-click="menu.setMainPage('evaquator.html', {closeMenu: true})">
                <ons-icon icon="fa-wrench"></ons-icon>
                Вызов эвакуатора
            </ons-list-item>

        </ons-list>

        <br>
        <br>
        <ons-list class="bottom-menu-list">
            <ons-list-item class="bottom-menu-item" ng-click="menu.setMainPage('settings.html', {closeMenu: true})">
                Настройки
            </ons-list-item>

            <ons-list-item class="bottom-menu-item" ng-click="menu.setMainPage('help.html', {closeMenu: true})">
                Помощь
            </ons-list-item>

            <ons-list-item class="bottom-menu-item" ng-click="menu.setMainPage('feedback.html', {closeMenu: true})">
                Обратная связь
            </ons-list-item>
            <ons-list-item class="bottom-menu-item" ng-click="menu.setMainPage('login.html', {closeMenu: true})">
                Выход
            </ons-list-item>
        </ons-list>
    </ons-page>
</ons-template>

<ons-template id="map.html">
    <ons-page>
        <ons-toolbar>
            <div class="left">
                <ons-toolbar-button ng-click="menu.toggle()">
                    <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
                </ons-toolbar-button>
            </div>
            <div class="center">Расположение</div>
        </ons-toolbar>
        <!--custom directive-->
        looldl
        <map></map>


    </ons-page>
</ons-template>

<ons-template id="feed.html">
    <feed></feed>
</ons-template>

<ons-template id="chooseCar.html">
    <ons-page class="choose-car-page">
        <ons-toolbar>
            <div class="left">
                <ons-toolbar-button ng-click="menu.toggle()">
                    <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
                </ons-toolbar-button>
            </div>
            <div class="center">Выбор авто</div>
        </ons-toolbar>

        <ons-row>
            <ons-col>
                <label class="radio-button">
                    <input type="radio" name="r" checked="checked">
                    <div class="radio-button__checkmark"></div>
                    Skoda fabia
                    <div class="car first"></div>
                </label><br>

                <label class="radio-button">
                    <input type="radio" name="r">
                    <div class="radio-button__checkmark"></div>
                    Skoda cruze
                    <div class="car second"></div>
                </label><br>

                <label class="radio-button">
                    <input type="radio" name="r">
                    <div class="radio-button__checkmark"></div>
                    Skoda superb
                    <div class="car third"></div>
                </label>
            </ons-col>
        </ons-row>
    </ons-page>
</ons-template>


<ons-template id="settings.html">
    <ons-page>
        <ons-toolbar>
            <div class="left">
                <ons-toolbar-button ng-click="menu.toggle()">
                    <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
                </ons-toolbar-button>
            </div>
            <div class="center">Настройки</div>
        </ons-toolbar>

        <ons-row class="profile-wrapper">
            <!--<ons-col width="60px" class="profile-image-wrapper">-->
            <!--<img src="images/profile-image-05.png" class="profile-image">-->
            <!--</ons-col>-->

            <ons-col>
                <div class="profile-name">Dave Graham</div>
                <div class="profile-email">davegraham@example.com</div>
            </ons-col>

        </ons-row>

        <div class="settings-header">Share</div>

        <ons-list modifier="inset" class="settings-list">
            <ons-list-item>
                Twitter
                <ons-switch modifier="list-item"></ons-switch>
            </ons-list-item>

            <ons-list-item>
                Facebook
                <ons-switch modifier="list-item" checked></ons-switch>
            </ons-list-item>
        </ons-list>

        <div class="settings-header">Others</div>

        <ons-list modifier="inset" class="settings-list">
            <ons-list-item modifier="chevron">
                Terms of Use
            </ons-list-item>

            <ons-list-item modifier="chevron">
                Privacy Policy
            </ons-list-item>
        </ons-list>

        <br>

        <ons-list modifier="inset" class="settings-list">
            <ons-list-item modifier="tappable">
                <ons-icon icon="ion-log-out" style="opacity: 0.8"></ons-icon>
                Sign out
            </ons-list-item>
        </ons-list>


    </ons-page>

</ons-template>

<ons-template id="discounts.html">
    <ons-page class="discounts">
        <ons-toolbar>
            <div class="left">
                <ons-toolbar-button ng-click="menu.toggle()">
                    <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
                </ons-toolbar-button>
            </div>
            <div class="center">Акции</div>
        </ons-toolbar>

        <ons-list>

            <ons-list-item modifier="chevron" class="list-item-container">
                <ons-row>
                    <ons-col width="95px">
                        <img src="http://www.linders.ie/imglib/linders2013/service.jpg" class="thumbnail">
                    </ons-col>
                    <ons-col>
                        <div class="name">
                            Eiffel Tower
                        </div>
                        <div class="location">
                            <i class="fa fa-map-marker"></i> Paris, France
                        </div>
                        <div class="desc">
                            Eiffel Tower is the symbol of Paris and named by Gustave Eiffel.
                        </div>
                    </ons-col>
                    <ons-col width="40px"></ons-col>
                </ons-row>
            </ons-list-item>

            <ons-list-item modifier="chevron" class="list-item-container">
                <ons-row>
                    <ons-col width="95px">
                        <img src="http://www.linders.ie/imglib/linders2013/service.jpg" class="thumbnail">
                    </ons-col>
                    <ons-col>
                        <div class="name">
                            Monument Valley
                        </div>
                        <div class="location">
                            <i class="fa fa-map-marker"></i> Utah, USA
                        </div>
                        <div class="desc">
                            Director John Ford used Monument Valley for a number of his best-known films.
                        </div>
                    </ons-col>
                    <ons-col width="40px"></ons-col>
                </ons-row>
            </ons-list-item>

            <ons-list-item modifier="chevron" class="list-item-container">
                <ons-row>
                    <ons-col width="95px">
                        <img src="http://www.linders.ie/imglib/linders2013/service.jpg" class="thumbnail">
                    </ons-col>
                    <ons-col>
                        <div class="name">
                            Mount Fuji
                        </div>
                        <div class="location">
                            <i class="fa fa-map-marker"></i> Japan
                        </div>
                        <div class="desc">
                            Mount Fuji is the highest mountain in Japan and a frequent attractive subject of Japanese
                            art.
                        </div>
                    </ons-col>
                    <ons-col width="40px"></ons-col>
                </ons-row>
            </ons-list-item>

            <ons-list-item modifier="chevron" class="list-item-container">
                <ons-row>
                    <ons-col width="95px">
                        <img src="http://www.linders.ie/imglib/linders2013/service.jpg" class="thumbnail">
                    </ons-col>
                    <ons-col>
                        <div class="name">
                            Tokyo Tower
                        </div>
                        <div class="location">
                            <i class="fa fa-map-marker"></i> Tokyo, Japan
                        </div>
                        <div class="desc">
                            Tokyo Tower is a communications and observation tower located in Tokyo, Japan.
                        </div>
                    </ons-col>
                    <ons-col width="40px"></ons-col>
                </ons-row>
            </ons-list-item>
        </ons-list>

    </ons-page>
</ons-template>

<ons-template id="help.html">
    <ons-page>
        <ons-toolbar>
            <div class="left">
                <ons-toolbar-button ng-click="menu.toggle()">
                    <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
                </ons-toolbar-button>
            </div>
            <div class="center">Помощь</div>
        </ons-toolbar>

        <ons-list>
            <ons-list-header>Android Versions</ons-list-header>

            <ons-list-item modifier="chevron">KitKat</ons-list-item>
            <ons-list-item modifier="chevron">Jelly Bean</ons-list-item>
            <ons-list-item modifier="chevron">Honycomb</ons-list-item>

            <ons-list-header>Mac OS X Versions</ons-list-header>

            <ons-list-item modifier="chevron">Mavericks</ons-list-item>
            <ons-list-item modifier="chevron">Mountain Lion</ons-list-item>
            <ons-list-item modifier="chevron">Lion</ons-list-item>
            <ons-list-item modifier="chevron">SnowLeopard</ons-list-item>

        </ons-list>

    </ons-page>
</ons-template>

<ons-template id="page1.html">
    <ons-page>
        <ons-toolbar>
            <div class="left">
                <ons-toolbar-button ng-click="menu.toggle()">
                    <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
                </ons-toolbar-button>
            </div>
            <div class="center">Page 1</div>
        </ons-toolbar>

        <ons-row style="margin-top: 100px; text-align: center;">
            <ons-col>
                <ons-list>

                    <ons-list-header>Favorite Sports</ons-list-header>

                    <ons-list-item modifier="tappable">
                        <label class="checkbox checkbox--list-item">
                            <input type="checkbox">
                            <div class="checkbox__checkmark checkbox--list-item__checkmark"></div>
                            Baseball
                        </label>
                    </ons-list-item>

                    <ons-list-item modifier="tappable">
                        <label class="checkbox checkbox--list-item">
                            <input type="checkbox">
                            <div class="checkbox__checkmark checkbox--list-item__checkmark"></div>
                            Soccer
                        </label>
                    </ons-list-item>

                    <ons-list-item modifier="tappable">
                        <label class="checkbox checkbox--list-item">
                            <input type="checkbox" checked="checked">
                            <div class="checkbox__checkmark checkbox--list-item__checkmark"></div>
                            Basketball
                        </label>
                    </ons-list-item>

                    <ons-list-item modifier="tappable">
                        <label class="checkbox checkbox--list-item">
                            <input type="checkbox" checked="checked">
                            <div class="checkbox__checkmark checkbox--list-item__checkmark"></div>
                            Golf
                        </label>
                    </ons-list-item>

                    <ons-list-header>Favorite Food</ons-list-header>

                    <ons-list-item modifier="tappable">
                        <label class="checkbox checkbox--noborder checkbox--list-item">
                            <input type="checkbox" checked="checked">
                            <div class="checkbox__checkmark checkbox--noborder__checkmark checkbox--list-item__checkmark"></div>
                            Hamburger
                        </label>
                    </ons-list-item>

                    <ons-list-item modifier="tappable">
                        <label class="checkbox checkbox--noborder checkbox--list-item">
                            <input type="checkbox">
                            <div class="checkbox__checkmark checkbox--noborder__checkmark checkbox--list-item__checkmark"></div>
                            Beefsteak
                        </label>
                    </ons-list-item>

                    <ons-list-item modifier="tappable">
                        <label class="checkbox checkbox--noborder checkbox--list-item">
                            <input type="checkbox" checked="checked">
                            <div class="checkbox__checkmark checkbox--noborder__checkmark checkbox--list-item__checkmark"></div>
                            Spaghetti
                        </label>
                    </ons-list-item>

                    <ons-list-item modifier="tappable">
                        <label class="checkbox checkbox--noborder checkbox--list-item">
                            <input type="checkbox">
                            <div class="checkbox__checkmark checkbox--noborder__checkmark checkbox--list-item__checkmark"></div>
                            Natto
                        </label>
                    </ons-list-item>

                </ons-list>
            </ons-col>
        </ons-row>
    </ons-page>
</ons-template>

<ons-template id="page2.html">
    <ons-page>
        <ons-toolbar>
            <div class="left">
                <ons-toolbar-button ng-click="menu.toggle()">
                    <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
                </ons-toolbar-button>
            </div>
            <div class="center">Page 2</div>
        </ons-toolbar>


        <ons-row style="margin-top: 100px; text-align: center;">
            <ons-col>
                <ons-button modifier="light" ng-click="menu.toggleMenu()">
                    Toggle Menu
                </ons-button>
            </ons-col>
        </ons-row>

    </ons-page>
</ons-template>


<ons-template id="evaquator.html">
    <ons-page>
        <ons-toolbar>
            <div class="left">
                <ons-toolbar-button ng-click="menu.toggle()">
                    <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
                </ons-toolbar-button>
            </div>
            <div class="center">Вызов эвакуатора</div>
        </ons-toolbar>
        <ons-list modifier="inset" style="margin-top: 10px">

            <ons-list-item>
                <input type="text" class="text-input text-input--transparent" placeholder="Имя" style="width: 100%">
            </ons-list-item>

            <ons-list-item>
                <textarea class="textarea textarea--transparent" placeholder="Сообщение"
                          style="width: 100%; height: 100px;"></textarea>
            </ons-list-item>

            <ons-list-item>
                <textarea class="textarea textarea--transparent" placeholder="Место"
                          style="width: 100%; height: 100px;"></textarea>
            </ons-list-item>

            <ons-list-item modifier="chevron">
                <ons-icon icon="fa-tag" style="opacity:0.2"></ons-icon>
            </ons-list-item>

        </ons-list>

        <div style="padding: 10px 9px">
            <ons-button modifier="large" style="margin: 0 auto;">
                Send
            </ons-button>
        </div>
    </ons-page>
</ons-template>


<ons-template id="feedback.html">
    <ons-page>
        <ons-toolbar>
            <div class="left">
                <ons-toolbar-button ng-click="menu.toggle()">
                    <ons-icon icon="ion-navicon" size="48px" fixed-width="false"></ons-icon>
                </ons-toolbar-button>
            </div>
            <div class="center">Обратная связь</div>
        </ons-toolbar>
        <ons-list modifier="inset" style="margin-top: 10px">
            <ons-list-item class="to-wrapper">
                <ons-row>
                    <ons-col width="52px">
                        <img src="http://media.vse-sto.com.ua/autoservices/100_logo_1_1.png" width="42"
                             class="to-image">
                    </ons-col>
                    <ons-col>
                        <div class="to-name">Название СТО</div>
                        <div class="to-email">@почта-сто</div>
                    </ons-col>
                </ons-row>
            </ons-list-item>
            <ons-list-item>
                <input type="text" class="text-input text-input--transparent" placeholder="Имя" style="width: 100%">
            </ons-list-item>

            <ons-list-item>
                <textarea class="textarea textarea--transparent" placeholder="Сообщение"
                          style="width: 100%; height: 100px;"></textarea>
            </ons-list-item>

            <ons-list-item modifier="chevron">
                <ons-icon icon="fa-tag" style="opacity:0.2"></ons-icon>
            </ons-list-item>

        </ons-list>

        <div style="padding: 10px 9px">
            <ons-button modifier="large" style="margin: 0 auto;">
                Отправить
            </ons-button>
        </div>
    </ons-page>
</ons-template>

<ons-template id="login.html">
    <ons-page class="page-login">
        <ons-toolbar>
            <div class="center">Аутентификация</div>
        </ons-toolbar>

        <div class="login-form">

            <input type="email" class="text-input--underbar" placeholder="Email" value="">
            <input type="password" class="text-input--underbar" placeholder="Пароль" value="">
            <br><br>
            <ons-button modifier="large" class="login-button">Войти</ons-button>
            <br><br>
            <ons-button modifier="quiet" class="forgot-password">Забыли пароль?</ons-button>
        </div>

    </ons-page>

</ons-template>


<!--<div class="tab-bar">-->
<!--<label class="tab-bar__item">-->
<!--<input type="radio" name="tab-bar-b" checked="checked">-->
<!--<button class="tab-bar__button">-->
<!--<i class="tab-bar__icon ion-stop"></i>-->
<!--</button>-->
<!--</label>-->

<!--<label class="tab-bar__item">-->
<!--<input type="radio" name="tab-bar-b">-->
<!--<button class="tab-bar__button">-->
<!--<i class="tab-bar__icon ion-record"></i>-->
<!--</button>-->
<!--</label>-->

<!--<label class="tab-bar__item">-->
<!--<input type="radio" name="tab-bar-b">-->
<!--<button class="tab-bar__button">-->
<!--<i class="tab-bar__icon ion-star"></i>-->
<!--</button>-->
<!--</label>-->
<!--</div>-->
</body>
</html>