.choose-car-page{
  .page__content{
    padding-top:1em;
  }
  .car{
    width:198px;
    height:98px;
    margin: 0 auto;
  }
  .car.first{
    background-image: url(http://www.eurocar.com.ua/models/ModelMenuSpriteDocumentLibrary/modelMenuSprite_201601181712.png);
    background-position: 0 -98px;
  }
  .car.second{
    background-image: url(http://www.eurocar.com.ua/models/ModelMenuSpriteDocumentLibrary/modelMenuSprite_201601181712.png);
    background-position: 0 -196px;
  }
  .car.third{
    background-image: url(http://www.eurocar.com.ua/models/ModelMenuSpriteDocumentLibrary/modelMenuSprite_201601181712.png);
    background-position: 0 0px;
  }
  label{
    width:100%;
    text-align: center;
  }
}