.page-login{
  .login-form {
    text-align: center;
    width: 80%;
    margin: 60px auto 0;
  }

  input[type=email], input[type=password] {
    display: block;
    width: 100%;
    margin: 0 auto;
    outline: none;
    height: 100%;
    padding-top: 15px;
    padding-bottom: 16px;
  }

  .login-button {
    width: 100%;
    margin: 0 auto;
  }

  .forgot-password {
    display: block;
    margin: 8px auto 0 auto;
    font-size: 14px;
  }
}